[submodule "user_guide"]
	path = user_guide
	url = git@github.com:Rocchang/subtest.git
[submodule "test"]
	path = test
	url = git@github.com:shine-it/auto_invoice.git
[submodule "oecn_base_fonts"]
	path = oecn_base_fonts
	url = git@github.com:shine-it/oecn_base_fonts.git
